.u-section-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1 .u-image-1 {
  width: 490px;
  height: 454px;
  margin: 0 29px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -434px 526px 0 0;
}

.u-section-1 .u-image-2 {
  width: 167px;
  height: 342px;
  margin: -39px 190px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    height: 453px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -433px;
    margin-right: 326px;
  }

  .u-section-1 .u-image-2 {
    height: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 314px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -294px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 173px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}